*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tela_jump{
    height: 100%;
    width: 100%;
background: rgba(255, 166, 0, 0.26);
position: absolute;
z-index: 9999;
pointer-events: none;
}

.game-board{
    width: 100%;
    height: 500px;
    background: linear-gradient(rgb(158, 158, 255), white);
    border-bottom: 15px solid green;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.cano{
    position: absolute;
    bottom: -8px;
    width: 80px;
     animation: cano 1.5s infinite linear;

}

.mario{
    width: 50px;
    position: absolute;
    bottom: 0px;
    
}

.jump{
        animation: jump 500ms ease-in-out;

}

.clounds{
    position: absolute;
    width: 550px;
    animation: clounds 10s infinite linear;
}

@keyframes clounds{
    from{
        right: -550px;
    }

    to {
        right: 100%;
    }
}

@keyframes mario{

0%{
   display: block;
}

100%{
   display: none;
}

}

@keyframes cano {
from{
right: -80px;
}

to{
right: 100%;
}
}

@keyframes jump{
0%{
    bottom: 0px;
}

40%{
    bottom: 100px;
}

50%{
    bottom: 100px;
}

60%{
    bottom: 100px;
}

100%{
    bottom: 0px;
}
}